torch>=1.13.1
accelerate>=0.16.0
easydict>=1.10
objprint>=0.2.2
timm>=0.6.12
scikit-learn>=1.2.1
pandas>=1.5.3
einops>=0.6.0
rich
transformers
tensorboard
evaluate>=0.4.0
torchvision>=0.14.1
numpy>=1.22.3
Pillow>=9.3.0
PyYAML>=6.0
pytz>=2022.1
sklearn>=0.0.post1
datasets>=2.10.0